.*swp
.htaccess
.buildpath
.project
.settings/*
*~
application/logs/*
application/cache/*
media/uploads/*
application/config/config.php
application/config/database.php
plugins/InfoWindow/*
plugins/actionable/*
plugins/adminmap/*
plugins/dashrss/*
plugins/endtime/*
plugins/fileupload/*
plugins/findlocation/*
plugins/hidetime/*
plugins/kalsms/*
plugins/kml/*
plugins/locationhighlight/*
plugins/simplegroups/*
plugins/smsautomate/*
plugins/timespan/*
plugins/utm/*
themes/LINGO/*
themes/NAYMOTE/*
themes/NRC/*
themes/NYSF/*
themes/WANEP/*
themes/liberia/*
themes/liberiamapped/*
themes/rightsandrice/*
themes/sfcg/*
themes/starradio/*
themes/tiyatien/*
themes/ycwliberia/*
themes/2011/*

